:root{
    
}

p{
    color: white;
    font-family: fantasy;
    font-size: 18px;
    background-color: yellow;
}

#unico {
    background-color: rgb(23, 117, 23);
}

p:hover{
    background-color: var(--color-principal);
}